


<p data-item='RoadMappr'>RoadMappr</p>

<section>
  
  <nav>
    <ul class="menuItems">
      <li><a href='#' data-item='Home'>Home</a></li>
      <li><a href='#' data-item='About'>About</a></li>
      <li><a href='#' data-item='Projects'>Projects</a></li>
      <li><a href='#' data-item='Blog'>Blog</a></li>
      <li><a href='#' data-item='Contact'>Contact</a></li>
    </ul>
  </nav>

</section>


<script src="https://codepen.io/shshaw/pen/QmZYMG.js"></script>

<label class="search">

  <div class="one">
    <div class="two">
      <div class="three">
        <input type="search" class="four" placeholder="Search RoadMappr" />
      </div>
      <div class="stick"></div>
    </div>
  </div>

</label>
