.heroImage{
    width: 400px;
    height: 400px;
    padding: 20px;
}

.notes{
    margin: 10% auto;
    width: 50%;
    background: lightblue;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notes li{
    text-align: left;
    padding: 20px
}

.container{
    margin-top: 10%;
}

.typography {
    text-align: center;
}

.reviewForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.reviewForm > * {
    margin-bottom: 10px;
       
}
